/* ===== NAVBAR WRAPPER ===== */
.nav-container {
  width: 100%;
  padding: 8px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  z-index: 1000;
}

/* ===== LEFT SIDE ===== */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo {
  width: 42px;
  height: auto;
}

.nav-left-textbox {
  display: flex;
  flex-direction: column;
}

.nav-left-title {
  font-size: 1rem;
  font-weight: 700;
}

.nav-left-subtitle {
  font-size: 0.8rem;
  margin-top: -3px;
  color: #000;
}

/* ===== RIGHT SIDE ===== */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  transition: 0.2s;
}

.nav-link-active {
  border-bottom: 2px solid #1a1851;
  font-weight: 700;
}

.nav-link:hover {
  font-weight: 700;
  color: #1a1851;
}

/* ===== USER ICON ===== */
.nav-user-wrapper {
  position: relative;
}

.nav-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid #1a1851;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-user-img {
  width: 22px;
  height: 22px;
  border-radius: 20%;
}

/* ===== DROPDOWN ===== */
.nav-user-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 180px;
  background-color: white;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  font-size: 10px;
  z-index: 2000;
  padding: 5px;
}

.nav-user-dropdown-item {
  padding: 8px;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: background-color 0.2s ease;
  font-size: 18px;
}

.nav-user-dropdown-item:hover {
  background-color: #f5f5f5;
}

.nav-user-dropdown-icon {
  width: 20px;
  height: 20px;
}

/* ===== DASHBOARD WRAPPER ===== */
.dashboard-wrapper {
  width: 100%;
  display: flex;
  padding: 30px 40px;
  gap: 30px;
  margin-top: 10px;
}

/* ===== SIDEBAR ===== */
.sidebar-wrapper {
width: 350px;
  height: 600px;
  border: 1px solid black;
  padding: 25px;
  border-radius: 6px;
  background-color: #ffffff;}


/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.sidebar-filter-icon {
  width: 20px;
}

.sidebar-title {
  font-size: 1rem;
  font-weight: 600;
}

/* Search */
.sidebar-label {
  font-size: 0.8rem;
  margin-top: 14px;
  display: block;
  margin-bottom: 4px;
}

.sidebar-search-wrapper {
  position: relative;
}

.sidebar-search-icon {
  width: 15px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-search-input {
  width: 100%;
  padding: 8px 8px 8px 28px;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 0.8px solid #bfbfbf;
}

/* Dropdown */
.sidebar-dropdown-wrapper {
  position: relative;
  margin-top: 10px;
}

.sidebar-dropdown {
  width: 100%;
  padding: 8px;
  border: 0.8px solid #bfbfbf;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 0.8rem;
  align-items: center;
}

.sidebar-dropdown-icon {
  width: 13px;
}

.sidebar-dropdown-menu {
  width: 100%;
  border: 0.8px solid #bfbfbf;
  border-radius: 4px;
  max-height: 140px;
  overflow-y: auto;
  background: #fff;
}

.sidebar-dropdown-item {
  padding: 8px;
  cursor: pointer;
  font-size: 0.75rem;
}

.sidebar-dropdown-item:hover {
  background-color: #efefef;
}

/* Year Range */
.sidebar-year-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-year-range {
  display: flex;
  gap: 30px;
}

.sidebar-year-menu {
  max-height: 150px;
  overflow-y: auto;
}

/* Reset Button */
.sidebar-reset-button {
  width: 100%;
  padding: 8px 0;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #1a1851;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.2s;
}

.sidebar-reset-button:hover {
  background-color: #14123b;
}

/* ===== PAPERS / CARDS ===== */
.papers-wrapper {
  flex: 1;
}

.papers-container {
  width: 100%;
  height: calc(100vh - 150px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.paper-card {
  border: 1px solid ;
  border-radius: 6px;
  padding: 25px;
  background: white;
  position: relative;
}

.paper-banner {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 2px 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.paper-title {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.paper-title-icon {
  width: 40px;
}

.paper-author,
.paper-year {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.9rem;
  margin-top: 8px;
  margin-left: 45px;
}

.paper-author-icon,
.paper-year-icon {
    width: 24px;
}

.paper-view-btn-container {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.paper-view-btn {
  background-color: white;
  color: black;
  border: 0.5px solid black;
  border-radius: 4px;
  padding: 4px 18px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.paper-view-btn:hover {
  background-color: #1a1851;
  color: white;
  font-weight: bold;
}

/* ===== POPUP MODAL ===== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-container {
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.popup-title {
  font-size: 24px;
  font-weight: 600;
}

.popup-info {
  font-size: 18px;
}

.popup-save-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}

.popup-save-text {
  font-size: 18px;
  font-weight: 500;
  margin-right: 11px;
}

.popup-save-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* ===== SAVED CONFIRMATION POPUP ===== */
.saved-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.saved-popup-container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #1a1851;
}

.titles {
  margin-top: 40px;
  margin-right: 50px;
  text-align: right;
}

/* Main title */
.titles .title-main {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1a1851;
}

/* Subtitle */
.titles .title-sub {
  font-size: 1rem;
  color: #6a6a6a;
  margin-top: -3px;
}

.paper-removed-btn-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.paper-removed-text {
  font-size: 18px;
  color: black;
  font-family: Poppins, sans-serif;
}

.paper-removed-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
